.main {
  @apply min-h-screen grid;

  place-items: center;
}

.app {
  @apply w-full h-full bg-gray-100 rounded-xl border flex flex-col overflow-scroll border-gray-300;

  -webkit-overflow-scrolling: touch;

  max-width: 500px;
}
