@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-systemGrey6-light text-black;
  }
}

@layer utilities {
  .text-title1 {
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 0.36px;
  }

  .text-title2 {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.35px;
  }

  .text-title3 {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.38px;
  }

  .text-body {
    font-size: 17px;
    line-height: 22px;
  }

  .primary {
    @apply text-black dark:text-white;
  }

  .secondary {
    @apply text-label-light dark:text-label-dark text-opacity-secondary;
  }

  .tertiary {
    @apply text-label-light dark:text-label-dark text-opacity-tertiary;
  }
}
